<html lagn="ko" 
      xmlns:th="http://www.thymeleaf.org">

    <!--headerFragment 선언-->
    <div th:fragment="headerFragment">
		<script type="text/javascript">
			$(function(){
				$("#home").click(function () {
					$(location).attr("href", "/");
				})
				
				$("#user").click(function () {
					doSignOut();
				})
			});
			
			function doSignOut() {
					$(location).attr("href", "/user/logout");
			}
		</script>
		<div id="header">
			<button type="button" id="home"></button>
			<button type="button" id="user"></button>
			<p>Test Web</p>
		</div>
        
    </div>
    
</html>