<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

    <!-- index.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <!--<link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    </th:block>
    
    <!-- index.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
       <!-- <script th:src="@{/js/page/home.js}"></script>-->
    </th:block>

    <div layout:fragment="content">
		<div class="content-box">
			<div class="div-title">
				<h1>test page</h1>
	        	<p>헤더, 푸터 위치 테스트용 페이지</p>
			</div>
	    	
	        <p></br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</p>
	        <p></br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</p>
	        <p></br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</p>
	        <p></br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</p>
	        <p></br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</p>
	        <p></br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</p>
	        <p></br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</p>
	        <p></br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</br>테스트</p>
    	</div>
    </div>
</html>